@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global properties and reset */

* {
    font-family: 'Barlow Semi Condensed';
    max-width: 100%;
    height: auto;
    margin: 0;
}

h1, p {
    all: unset;
    display: block;
}

/* Styling */

/* Positioning */
html, body {
    background-color: #ECF2F8;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 71px;
    margin-bottom: 71px;
    gap: 24px;
}

/* Testimonial Card Styling (Generic) */
.card-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px rgba(72,85,106,0.2474);
}

.profile-pic {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    margin-right: 17px;
}

.profile-details {
    display: flex;
    color: white;
    margin-bottom: 18px;
}

.name-role {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 13px;
}

.role {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 11px;
    opacity: 0.5;
}

.testimonial-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    color: white;
    margin-bottom: 16px;
}

.testimonial {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    opacity: 0.7;
    color: #CFCFCF;
}

/* Card Styling (Individual */

.test-1 {
    background-color: #733FC8;
}

.test-2 {
    background-color: #48556A;
}

.test-3 {
    background-color: #FFFFFF;
}

.test-3 h1, .test-3 .name-role, .test-3 .testimonial {
    color:#48556A;
}

.test-4 {
    background-color: #19202D;
}

.test-5 {
    background-color: #FFFFFF;
    color:#48556A;
}

.test-5 h1, .test-5 .name-role, .test-5 .testimonial {
    color:#48556A;
}

/* Mobile specific styles */

@media (max-width: 376px) { 
    .test-1 .testimonial {
        width: 94%;
    }
    .test-1 .testimonial-title {
        margin-bottom: 40px;
    }
}

/* Desktop styles */

@media (min-width: 376px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .testimonials-content {
        display: grid;
        margin: 0;
        grid-template-columns: repeat(12, 65px);
        grid-template-rows: repeat(auto, 60px);
        column-gap: 30px;
       }

       .card-style {
        display: block;
        padding-bottom: 26px;
      }

    .test-1 {
        grid-column: 1 / 7;
        grid-row: 1 / 4;
    }

    .test-2 {
        grid-column: 7 / 10;
        grid-row: 1 / 4;
    }

    .test-3 {
        grid-column: 1 / 4;
        grid-row: 5 / 8;

    }

    .test-4 {
        grid-column: 4 / 10;
        grid-row: 5 / 8;
    }

    .test-5 {
        grid-column: 10 / 13;
        grid-row: 1 / 8;
    }
}

